rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  
    function getRoles(){  
      return get(/databases/$(database)/documents/user_roles/$(request.auth.token.email)).data
    }
  
    function isAdmin(){
      return getRoles().admin == true;
    }
  
    function isEditor(){
      return getRoles().editor == true;
    }
  
    match /user_roles/{document=**}{
  	   allow read: if true;
       allow write: if false;
    }
  
    match /articles/{document=**} {
      allow read: if true;
      allow write: if isEditor();
    }
    
  	match /article-detail/{document=**} {
      allow read: if true;
      allow write: if isEditor();
    }
    
    match /categories/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    match /app-pages/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    match /order-requests/{document=**} {
      allow read: if isAdmin();
      allow create: if true;
      allow delete: if isAdmin();
    }
    
    match /active-orders/{document=**} {
      allow read: if isAdmin();
      allow write: if isAdmin();
    }
  }
}